.container
	.row
		.span12
			%a{ :href => "https://github.com/liamja/Live-Inspector" } Fork on GitHub
			%a.pull-right{ :href => "http://mixpanel.com/f/partner" }
				%img{ :src => "http://mixpanel.com/site_media/images/partner/badge_blue.png", :alt => "Real Time Web Analytics" }