.container
	.row
		.span12

			.g-plusone{ :'data-size' => "medium" }

			%a.twitter-share-button{ :href => "//twitter.com/share" }

			%a.pull-right{ :href => "//mixpanel.com/f/partner" }
				%img{ :src => "//mixpanel.com/site_media/images/partner/badge_light.png", :alt => "Real Time Web Analytics" }