.container
	.row
		.six.columns.centered
			%h5.subheader Select your Ableton project file to inspect
			%form{ :method => 'post', :enctype => 'multipart/form-data' }
			%fieldset
				%input{ :type => 'file', :name => 'file' }
				%input.large.button{ :type => 'submit', :value => 'Inspect!' }