.container

	.hero-unit.bg-screen1

		%h1 Live Inspector
		%p Select an Ableton Live project file to inspect

		%form.form-inline{ :method => 'post', :enctype => 'multipart/form-data' }
			%input.span4{ :type => 'file', :accept => '.als', :name => 'projectFile' }
			%button.btn.btn-large.btn-primary{ :type => 'submit' }
				%i.icon-white.icon-search
				Inspect
			/ %a.btn.btn-large{ :href => '/demo' }
			/ 	View demo