.row
	.eight.columns.centered
		%h4.subheader Select your Ableton project file to inspect
		%form.nice{ :method => 'post', :enctype => 'multipart/form-data' }
			%input{ :type => 'file', :name => 'file' }
			%input.large.button{ :type => 'submit', :value => 'Inspect!' }