!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ [if gt IE 8]><!
%html.no-js{ :lang => "en" }
  / <![endif]
  %head
    %meta{ :charset => "utf-8" }/
    / Set the viewport width to device width for mobile
    %meta{ :content => "width=device-width", :name => "viewport" }/
    %title Ableton Inspector
    / Included CSS Files
    / Combine and Compress These CSS Files
    %link{ :href => "stylesheets/globals.css", :rel => "stylesheet" }
    %link{ :href => "stylesheets/typography.css", :rel => "stylesheet" }
    %link{ :href => "stylesheets/grid.css", :rel => "stylesheet" }
    %link{ :href => "stylesheets/ui.css", :rel => "stylesheet" }
    %link{ :href => "stylesheets/forms.css", :rel => "stylesheet" }
    %link{ :href => "stylesheets/orbit.css", :rel => "stylesheet" }
    %link{ :href => "stylesheets/reveal.css", :rel => "stylesheet" }
    %link{ :href => "stylesheets/mobile.css", :rel => "stylesheet" }
    / End Combine and Compress These CSS Files
    %link{ :href => "stylesheets/app.css", :rel => "stylesheet" }
    /[if lt IE 9]
      %link{ :href => "stylesheets/ie.css", :rel => "stylesheet" }
    %script{ :src => "javascripts/modernizr.foundation.js" }
    / IE Fix for HTML5 Tags
    /[if lt IE 9]
      %script{ :src => "http://html5shiv.googlecode.com/svn/trunk/html5.js" }
  %body

    .container
      
      = partial(:header)

      = yield

      = partial(:footer)
    
    / Included JS Files
    %script{ :src => "javascripts/jquery.min.js" }
    / Combine and Compress These JS Files
    %script{ :src => "javascripts/jquery.reveal.js" }
    %script{ :src => "javascripts/jquery.orbit-1.4.0.js" }
    %script{ :src => "javascripts/jquery.customforms.js" }
    %script{ :src => "javascripts/jquery.placeholder.min.js" }
    %script{ :src => "javascripts/jquery.tooltips.js" }
    / End Combine and Compress These JS Files
    %script{ :src => "javascripts/app.js" }

    / start Mixpanel
    %script
      (function(d,c){var a,b,g,e;a=d.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===d.location.protocol?"https:":"http:")+'//api.mixpanel.com/site_media/js/api/mixpanel.2.js';b=d.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b);c._i=[];c.init=function(a,d,f){var b=c;"undefined"!==typeof f?b=c[f]=[]:f="mixpanel";g="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config".split(" ");
      for(e=0;e<g.length;e++)(function(a){b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,0)))}})(g[e]);c._i.push([a,d,f])};window.mixpanel=c})(document,[]);
      
      mixpanel.init("db5657f7674bd3af14c306d4a7b7e6f0");
    / end Mixpanel