.container
	.row
		.span6
			%h2 Project Info
			%table.table.table-bordered.table-striped
				%tbody
				%tr
					%td
						%i.icon-pencil
						Created in
					%td= @ableton[:Creator]
				%tr
					%td
						%i.icon-time
						Tempo
					%td= @ableton[:Tempo]
		.span6
			%h2 Tracks
			%table.table.table-bordered.table-striped
				%thead
					%tr
						%th Type
						%th Label
				%tbody
					- @ableton[:Tracks].each do |track|
						%tr
							%td Track
							%td= track
					%tr
						%td Master Track
						%td= @ableton[:MasterTrack]