// Backgrounds
// -------------------------

@bgScreen1Path:     "../img/bg-screen1.png";
@bgClipsPath:     	"../img/bg-clips.png";

.bg-screen1 {
  background-image: url("@{bgScreen1Path}");
  background-position: -270px -69px;
  background-repeat: no-repeat;
}

.bg-clips {
  background-image:		url("@{bgClipsPath}");
  background-repeat:	repeat;
}
